body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
}

.hero-unit img {
    width:100px;
    height:100px;
    display:block;
    float:left;
    margin:10px;
}
